@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Flex", system-ui;
}

.header-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	margin-bottom: 40px;
	padding: 30px 5px;
	position: relative;

	background-image: url("../images/blueHalfBackground.png");
	background-size: 100% 80%;
	background-repeat: no-repeat;
}

#about-me-image {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	max-height: 900px;
}

.about-me-section {
	background-color: white;
	width: 90%;
	max-width: 600px;
	padding: 30px 15px;
	margin: 8% 6% 8% 0;
	box-shadow: 1.5px 2px 5px -2px gray;
}

.about-me-section > p {
	margin-top: 20px;
}

.icons-end {
	display: flex;
	justify-content: flex-end;
	margin: 10% 2.5% 0 0;
}

.title {
	font-size: calc(1rem + 1vw);
	font-weight: 600;
}

.description {
	font-weight: 250;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(400px, (100% - (4 - 1) * 2.5%) / 4), 1fr));
	justify-items: center;
	margin-bottom: 50px;
	padding: 5px 2% 30px 2%;
	gap: 2.5%;
}

main .title {
	margin: 30px 0 10px 30px;
}

.project {
	max-width: 400px;
	box-shadow: 2px 3px 5px -2px gray;
}

.project > img {
	max-width: 400px;
}

.project > div,
.project > p {
	padding: 15px 20px;
}

.project > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: -15px;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-items: center;
	padding: 4% 10%;

	color: white;
	background-color: #1d85fa;
}

.contact-me-text {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.contact-me-text .description {
	margin-bottom: 15px;
}

.contact-info {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	gap: 5px;
}

.contact-me-text > div {
	margin: 10px 0;
}

#contact-me-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons-gap {
	gap: 10px;
}
