@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Flex", system-ui;
}

.header-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-items: center;
	position: relative;
}

.top-background {
	position: absolute;
	top: 0;
}

#about-me-image {
	justify-content: end;
}
